@media only screen and (min-width:1200px) {
  .carousel{
    position: relative;
    height: 500px;
  }
}
@media screen and (max-width:700px)  {
  .carousel{
    position: relative;
    height: 400px;
  }
}
@media only screen and (min-width:1200px) {
  .carousel_img{
    position: relative;
    bottom:100px;
  }
}
@media (min-width:700px) and (max-width:1024px)  {
  .carousel_img{
    position: relative;

  }
}
body{
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (min-width:1200px) {
  .container_bg{
    background-image: url('./../images/backlit-blogging-business-34153.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

  }
}
@media (min-width:700px) and (max-width:1024px)  {
  .container_bg{
    background-image: url('./../images/backlit-blogging-business-34153.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;


  }
}
.container_bg{
  background-image: url('./../images/backlit-blogging-business-34153.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;


}
@media only screen and (min-width:1200px) {
  .container_bg_civil{
    background-image: url('./../images/civil.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

  }
}
@media (min-width:700px) and (max-width:1024px)  {
  .container_bg_civil{
    background-image: url('./../images/civil.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;


  }
}
.container_bg_civil{
  background-image: url('./../images/civil.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;


}
@media only screen and (min-width:1200px) {
  .container_bg_robotics{
    background-image: url('./../images/robotics.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 500px;

  }
}
@media (min-width:700px) and (max-width:1024px)  {
  .container_bg_robotics{
    background-image: url('./../images/robotics.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

  }
}
.container_bg_robotics{
  background-image: url('./../images/robotics.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
background-position: center;

}

@media only screen and (min-width:1200px) {
  .container_bg_mech{
    background-image: url('./../images/mech.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

  }
}
@media (min-width:700px) and (max-width:1024px)  {
  .container_bg_mech{
    background-image: url('./../images/mech.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;


  }
}
.container_bg_mech{
  background-image: url('./../images/mech.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
background-position: top;

}
@media only screen and (min-width:1200px) {
  .container_bg_ece{
    background-image: url('./../images/ece.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

  }
}
@media (min-width:700px) and (max-width:1024px)  {
  .container_bg_ece{
    background-image: url('./../images/ece.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;


  }
}
.container_bg_ece{
  background-image: url('./../images/ece.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;


}
@media only screen and (min-width:1200px) {
  .container_bg_general{
    background-image: url('./../images/general.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

  }
}
@media (min-width:700px) and (max-width:1024px)  {
  .container_bg_general{
    background-image: url('./../images/general.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;


  }
}
.container_bg_general{
  background-image: url('./../images/general.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;


}

.img:hover{
    transform: scale(1.2);
}
.row_color{
  background-color: #f6f6f9;
}

.a:hover{
  color: white;
}
