<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./../../css/index.css">
  <title>Techzone | Annual Cultural Fest 2019</title>
  <!-- link to fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- link for google fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <div class="jumbotron  pt-0 text-light container_bg">
      <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-trans navbar-inverse sticky-top">
      <div class="container ">
        <a href="#" class="navbar-brand ml-md-5">
          <!-- techzone banner -->
          <!-- <img src="./images/logo1.png" alt="" "> -->
          Navbar
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" name="button">
          <i class="fas fa-bars text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item  mr-md-5">
              <a href="#" class="text-light font-weight-bold nav-link">Home</a>
            </li>
            <li class="nav-item mr-md-5">
              <a href="#" class="text-light font-weight-bold nav-link">About</a>
            </li>
            <li class="nav-item mr-md-5">
              <a href="#" class="text-light font-weight-bold nav-link">Theme</a>
            </li>
            <li class="nav-item mr-md-5">
              <a href="#" class="text-light font-weight-bold nav-link">Agenda</a>
            </li>
            <li class="nav-item dropdown mr-md-5">
              <a href="#" class="text-light nav-link dropdown-toggle font-weight-bold" id="navabarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Events
              </a>
              <div class="dropdown-menu" aria-labelledby="navabarDropdown">
                <a href="#" class="dropdown-item">CSE / ISE</a>
                <a href="#" class="dropdown-item">ECE / TCE / EEE</a>
                <a href="#" class="dropdown-item">GENERAL EVENTS</a>
                <a href="#" class="dropdown-item">MECH / AUTO / IP</a>
                <a href="#" class="dropdown-item">ROBOTICS</a>
                <a href="#" class="dropdown-item">CIVIL / ENV</a>
              </div>
            </li>
            <li class="nav-item mr-md-5">
              <a href="#" class="text-light nav-link font-weight-bold">Team</a>
            </li>
            <li class="nav-item mr-md-5">
              <a href="#" class="text-light nav-link font-weight-bold">Register</a>
            </li>
            <li class="nav-item mr-md-5">
              <a href="#" class="text-light nav-link font-weight-bold">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<!-- jumbotron -->
      <div class="row">
        <!-- <div class="col-md-6">
        </div> -->
        <div class="col-12 mt-5 text-center">
          <h1 class="display-4 mt-md-5 font-weight-bold bg-text">
              CODING EVENTS
          </h1>
          <p class="">Lorem ipsum dolor sit amet
          </p>

        </div>

      </div>
    </div>
    <!-- event list -->
    <div class="container-fluid mt-5 pb-5">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <img src="./../../images/card.png" class="img img-fluid" alt="">
        </div>
        <div class="col-md-7 mt-5 mt-md-0">
          <div class="row ">
            <div class="col-12 text-center">
              <h3 class="">
                          CODE SOCCER
              </h3>
            </div>
            <div class="col-12 text-center">
              <p class=" ">
                Programming and Debugging Event
              </p>
              <hr align="center" >
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4 ">
              <p class="font-weight-bold ">
                <img src="./../../images/fee.png" class="img-fluid" alt="">
                Entry fee
              </p>
              <hr align="center" >
              <p class="font-weight-bold color ">
                            JNNCE - Rs. 150/-
              </p>
              <p class="font-weight-bold color ">
                          Non-JNNCE - Rs. 200/-
              </p>
                <hr align="center" >
            </div>
            <div class="col-md-4 ">
              <p class="font-weight-bold mb-0">
                <img src="./../../images/networking.png" class="img-fluid" alt="">
                Coordinators
              </p>
              <hr align="center" >
              <p class="font-weight-bold color">
                Shashank G Upadhya
              </p>
              <p class="font-weight-bold color ">
                 Ravichandra T S
              </p>
                <hr align="center" >
            </div>
            <div class="col-md-4  ">

              <p class="font-weight-bold color">
                <img src="./../../images/smartphone.png" class="img-fluid" alt="">
                Contact
              </p>
              <hr align="center" >
              <p class="font-weight-bold color ">
                <i class="fa fa-phone"></i>
                8792227928
              </p>
              <p class="font-weight-bold color ">
                <i class="fa fa-phone"></i>
                8792227928
              </p>
                <hr align="center" >
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 row_color justify-content-center pt-5 pb-5">
        <div class="col-md-4 d-block d-sm-none">
          <img src="./../../images/card.png" class="img img-fluid" alt="">
        </div>
        <div class="col-md-7  mt-5 mt-md-0">
          <div class="row ">
            <div class="col-12 text-center">
              <h3 class="">
                          CODE SOCCER
              </h3>
            </div>
            <div class="col-12 text-center">
              <p class=" ">
                Programming and Debugging Event
              </p>
              <hr align="center" >
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4 ">
              <p class="font-weight-bold ">
                <img src="./../../images/fee.png" class="img-fluid" alt="">
                Entry fee
              </p>
              <hr align="center" >
              <p class="font-weight-bold color ">
                            JNNCE - Rs. 150/-
              </p>
              <p class="font-weight-bold color ">
                          Non-JNNCE - Rs. 200/-
              </p>
                <hr align="center" >
            </div>
            <div class="col-md-4 ">
              <p class="font-weight-bold mb-0">
                <img src="./../../images/networking.png" class="img-fluid" alt="">
                Coordinators
              </p>
              <hr align="center" >
              <p class="font-weight-bold color">
                Shashank G Upadhya
              </p>
              <p class="font-weight-bold color ">
                 Ravichandra T S
              </p>
                <hr align="center" >
            </div>
            <div class="col-md-4  ">

              <p class="font-weight-bold color">
                <img src="./../../images/smartphone.png" class="img-fluid" alt="">
                Contact
              </p>
              <hr align="center" >
              <p class="font-weight-bold color ">
                <i class="fa fa-phone"></i>
                8792227928
              </p>
              <p class="font-weight-bold color ">
                <i class="fa fa-phone"></i>
                8792227928
              </p>
                <hr align="center" >
            </div>
          </div>
        </div>
        <div class="col-md-4 d-none d-sm-block">
          <img src="./../../images/card.png" class="img img-fluid" alt="">
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-md-4">
          <img src="./../../images/card.png" class="img img-fluid" alt="">
        </div>
        <div class="col-md-7 mt-5 mt-md-0">
          <div class="row ">
            <div class="col-12 text-center">
              <h3 class="">
                          CODE SOCCER
              </h3>
            </div>
            <div class="col-12 text-center">
              <p class=" ">
                Programming and Debugging Event
              </p>
              <hr align="center" >
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4 ">
              <p class="font-weight-bold ">
                <img src="./../../images/fee.png" class="img-fluid" alt="">
                Entry fee
              </p>
              <hr align="center" >
              <p class="font-weight-bold color ">
                            JNNCE - Rs. 150/-
              </p>
              <p class="font-weight-bold color ">
                          Non-JNNCE - Rs. 200/-
              </p>
                <hr align="center" >
            </div>
            <div class="col-md-4 ">
              <p class="font-weight-bold mb-0">
                <img src="./../../images/networking.png" class="img-fluid" alt="">
                Coordinators
              </p>
              <hr align="center" >
              <p class="font-weight-bold color">
                Shashank G Upadhya
              </p>
              <p class="font-weight-bold color ">
                 Ravichandra T S
              </p>
                <hr align="center" >
            </div>
            <div class="col-md-4  ">

              <p class="font-weight-bold color">
                <img src="./../../images/smartphone.png" class="img-fluid" alt="">
                Contact
              </p>
              <hr align="center" >
              <p class="font-weight-bold color ">
                <i class="fa fa-phone"></i>
                8792227928
              </p>
              <p class="font-weight-bold color ">
                <i class="fa fa-phone"></i>
                8792227928
              </p>
                <hr align="center" >
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 row_color justify-content-center pt-5 pb-5">
        <div class="col-md-4 d-block d-sm-none">
          <img src="./../../images/card.png" class="img img-fluid" alt="">
        </div>
        <div class="col-md-7  mt-5 mt-md-0">
          <div class="row ">
            <div class="col-12 text-center">
              <h3 class="">
                          CODE SOCCER
              </h3>
            </div>
            <div class="col-12 text-center">
              <p class=" ">
                Programming and Debugging Event
              </p>
              <hr align="center" >
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4 ">
              <p class="font-weight-bold ">
                <img src="./../../images/fee.png" class="img-fluid" alt="">
                Entry fee
              </p>
              <hr align="center" >
              <p class="font-weight-bold color ">
                            JNNCE - Rs. 150/-
              </p>
              <p class="font-weight-bold color ">
                          Non-JNNCE - Rs. 200/-
              </p>
                <hr align="center" >
            </div>
            <div class="col-md-4 ">
              <p class="font-weight-bold mb-0">
                <img src="./../../images/networking.png" class="img-fluid" alt="">
                Coordinators
              </p>
              <hr align="center" >
              <p class="font-weight-bold color">
                Shashank G Upadhya
              </p>
              <p class="font-weight-bold color ">
                 Ravichandra T S
              </p>
                <hr align="center" >
            </div>
            <div class="col-md-4  ">

              <p class="font-weight-bold color">
                <img src="./../../images/smartphone.png" class="img-fluid" alt="">
                Contact
              </p>
              <hr align="center" >
              <p class="font-weight-bold color ">
                <i class="fa fa-phone"></i>
                8792227928
              </p>
              <p class="font-weight-bold color ">
                <i class="fa fa-phone"></i>
                8792227928
              </p>
                <hr align="center" >
            </div>
          </div>
        </div>
        <div class="col-md-4 d-none d-sm-block">
          <img src="./../../images/card.png" class="img img-fluid" alt="">
        </div>
      </div>
    </div>
    <!-- connect with us -->
  <div class="container-fluid pt-5 pb-5 ">
    <div class="row text-left">
      <div class="col-md-3 offset-md-2 pb-5 ">
        <h4 class="font-weight-bold">Techzone</h4>
        <h4 class="mt-4 mb-3">

        </h4>
        <a href="#" class="text-muted ">
          <i class="fab fa-facebook-f "></i>
        </a>
        <a href="#" target="_top" class="text-muted  pl-3" >
          <i class="fas fa-envelope"></i>
        </a>
        <a href="#" class="text-muted" >
          <i class="fab fa-instagram pl-3"></i>
        </a>
        <a href="#" class="pl-3 text-muted" >
          <i class="fab fa-youtube "></i>
        </a>
      </div>
      <div class="col-md-2 d-flex flex-column ">
        <p class="">Contents</p>
        <a href="#" class="text-muted">Events</a>
        <a href="./../team.html" class="text-muted">Team</a>
        <a href="./../achivements.html" class="text-muted">Register</a>
      </div>
      <div class="col-md-4 mt-5 mt-md-0">
        <p class="text-muted">
            Started in the year 1984, JANVEY is a platform for the creative minds to showcause their talent .
            It's been conducted by team EKYAM.
        </p>
      </div>
    </div>
  </div>


  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
